.div-colors {
	margin-top: 30px;
}

.color-base {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	display: inline;
	margin: 5px;
	padding:10px;
}

.rules {
    width: 450px;
	height: 550px;
}